{% extends 'base_security.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="mb-3">
        <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
        <p>
            An email was sent - please click the link in the email to reset your password.
        </p>
        <a href="{{path('app_login')}}" class="btn btn-primary">Back to login</a>
    </div>
{% endblock %}