{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<form method="post" class="mb">
    <h1 class="h4 mb-3 font-weight-normal">Verify your Email</h1>
    <p>
        An email was sent, please click it to enable your
        account before logging in.
    </p>
    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-primary">Re-send Email</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
</form>
{% endblock %}