{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} 
{% block nav %}
{% include "admin/admin_nav.html.twig" %}
{% endblock %}
{% block body %}
  <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center">
    <table class="table table-sm table-striped mt-5 border shadow">
      <thead>
        <table class="table table-sm table-striped border shadow">
          <thead>
            <tr>
              <th scope="col">Connection</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left">
                Verbindung zur Datenbank
            </td>
              <td>
                {% if connection %}
                <span class="badge text-bg-success text-success">1</span>
               {% endif %}
               {% if error is defined %}
                <span class="badge text-bg-danger text-danger">0</span>
                {{ error }}
              {% endif %}
            </td>
            </tr>
            <tr>
              <td class="text-left">
                {{ s3Status.message }}
            </td>
              <td>
                {% if s3Status.status == true %}
                <span class="badge text-bg-success text-success">1</span>
                {% else %}
                <span class="badge text-bg-danger text-danger">0</span>
                {{ error }}
              {% endif %}
            </td>
            </tr>
          </tbody>
        </table>
  </div>
{% endblock %}