{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mt-3">
      <h1>Hello {{ controller_name }}!</h1>
      <span class="bg-logo"></span>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-6">
        <img src="{{ asset('images/symfony.jpg') }}" class="img-fluid" alt="symfony.jpg">
      </div>
    </div>
    <ul>
        <li data-controller="hello">TEST</li>
        <li {{ stimulus_controller('hello') }}>TEST</li>
        {{ stimulus_controller('hello') }}
    </ul>
  </div>
</div>
{% endblock %}
