{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} {%
block body %}
<div class="d-flex flex-column h-100 justify-content-center align-items-center">
  <h4>{{ title }}</h4>
</div>
{% endblock %}