{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} 
{% block body %}
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
    <h4>{{ title }}</h4>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="mt-3">
      <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    </div>
    {% endif %} 
  </div>
{% endblock %}