:root {
    --bs-primary: #333;
    --bs-border-radius: 1rem;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #0bbfd7;
    --bs-btn-hover-border-color: #0ba7d7;
}

body {
    background-color: #333;
    font-family: 'Inter Variable', sans-serif;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    color: #fff;
}

.example-wrapper code {
    background: #333;
    padding: 2px 6px;
}

.bg-logo {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../images/symfony.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}