{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} 
{% block nav %}
{% include "user/user_nav.html.twig" %}
{% endblock %}
{% block body %}
  <div class="d-flex flex-column h-100 justify-content-center align-items-center">
      <span class="text-muted">{{ app.user.email }}</span>
  </div>
{% endblock %}